<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/sheet.css">

    <link rel="stylesheet" href="../public/css/respons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/eed617a2fa.js" crossorigin="anonymous"></script>
</head>
<body>
 
    <header>
   <img src="taki.jpg" alt="" class="taki">
        <div class="header-left">
         
        </div>
        <div class="header-right">
        <span class="fa fa-bars"></span>
           <div class="scrollDown"><span>scroll</span></div>
           <div class="scrollDown1"></div>
        
            
            <ul class="tab">
                <span class="fa fa-x"></span>
                <li><a class="top" href="#top">Top</a></li>
                <li><a class="work" href="#work">Work</a></li>
                <li><a class="about" href="#about">About</a></li>
                <li><a class="contact" href="#contact">Contact</a></li>
            </ul>
       
        </div>
             <div class="main0">
                <div class="oy">
                <h1>Mina Ohya</h1>
                </div><br>
            
        </div>
       
    </header>
    
    <main>

        <div class="main1">
<div id="work"><h1>Work</h1></div>

<div class="learn">

<div class="work-item">
   <a href="http://localhost:3001/"> <img src="node.png" alt="作った作品" width="500px" height="300px"></a>
</div>

<div class="language">
<h2>学習中の言語</h2>
    <div class="icon">
   <div class="lesson"> <span class="fa fa-html5"></span><p>html</p></div>
   <div class="lesson"> <span class="fa-brands fa-css3-alt"></span><p>css</p></div>
    <div class="lesson"> <span class="fa-brands fa-js"></span><p>javescript</p></div>
 
            <div class="lesson">  <span class="fa-brands fa-php"></span><p>php</p></div>
           </div>
    </div>
    
</div>
<div class="learn2">
<h2>フレームワーク</h2>
            <div class="lesson"> <span class="fa-brands fa-node"></span><p>node.js</p></div>
        </div>
        </div>
        


        <div class="main2">
<div id="about"><h1>About</h1>
<h2>Hobby</h2></div>
<div class="tree">
 
   
    <div class="wrapper1">
        
<div class="vertical1"></div>
<ul class="lists">
    <li>Junior <br>high school</li>
    <li>High school</li>
    <li>university</li>
</ul>

<div class="horizontal1"></div>
    </div>
    <div class="wrapper2">
        <div class="vertical2">
            
            <div id="hobbys">
                <img src="sample.jpg" alt="食品サンプル" width="180px" height="180px">

                      <p>中学生での趣味は食品サンプルづくりです。 <br>本物の食べ物に見えるように色使いや光沢感、質感などにこだわりながら作りました。 <br>作っていくごとにコツをつかんでいる感じがして楽しかったです。</p>
                    </div>
                    
                </div>
        
        
<div class="horizontal2"></div>
    </div>
    
    <div class="wrapper3">
        <div class="vertical3">
            
            <div id="hobbys">
                <img src="mm.jpg" alt="サイクリング写真" width="180px" height="180px">
                <p class="hobby-about">高校生での趣味はサイクリングです。<br>コロナ渦あたりに運動不足解消ということで始めました。<br>行った先の土地の雰囲気を感じたり、同じ目的地であってもルートを変えて楽しみました。 <br>その中でも朝に近くの川に行き、川沿いを走るのが好きでした。</p>
            </div>
        </div>
<div class="horizontal3"></div>
    </div>
    <div class="vertical4">
        <div id="hobbys">
            <img src="program.jpg" alt="プログラミング写真" width="180px"height="180px">
            <p>大学生での趣味はプログラミングです。<br>大学生活の間でプログラミングに興味を持ち独学で勉強しています。<br>上手く動いたときとてもうれしくなります。<br>これからももっと学び続けていきたいです。</p>
        </div>
    </div>
</div>
</div>

<div class="main3">
    <div id="contact"><h1>Contact</h1></div>
    
    <div class="thank">
    <p>サイトをご覧いただきありがとうございました。このサイトを通して、私のことを少しでも知っていただけたのなら嬉しいです。もしこのサイトや私について質問やコメントがありましたら、下記フォームをご利用ください。</p>
</div>
<form action="form.php" method="POST">

    <div class="form-container"> 
        <div class="bottom">
            <div class="left-items">
                <div class="name">
                    <label for="username">Name:</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="mail">
                    <label for="mail">Mail:</label>
                    <input type="email" name="mail" id="mail" required>
                </div>
            </div>
            <div class="text">
                <label for="comment">Comment:</label><br>
                <textarea name="comment" id="comment" rows="15" cols="40" required></textarea>
            </div>
            <div class="sub">
                <input type="submit" value="Send">
            </div>
    
        </div>
    </div>
</form>
</div>

    </main>

    
    <footer></footer>
    </div>
    <script src="script.js"></script>   
</body>
</html>